body { 
    min-height: 100vh; 
    background-color: #f0f2f5;
}

.card { 
    background-color: #ffffff;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    transition: all 0.3s ease-in-out; 
}

.card:hover { 
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    transform: translateY(-10px) scale(1.02);
    cursor: pointer;
    z-index: 10;
}

canvas { 
    max-height: 250px; 
}

.custom-user-menu {
    /* Lo que tenías en style="..." */
    min-width: 260px;
    border-radius: 12px;
    overflow: hidden;

    /* Lo que tenías en clases de Bootstrap (shadow-lg, border-0, mt-2) */
    border: none;             /* Reemplaza a border-0 */
    margin-top: 0.5rem;       /* Reemplaza a mt-2 */
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175); /* Reemplaza a shadow-lg */
}

.nav-link.font-weight-bold {
    font-weight: 700 !important;
}

.btn-close-absolute {
    top: 10px;
    right: 15px;
    padding: 0 8px;
    border-radius: 25%;
    /* Aseguramos que el tamaño de fuente y línea estén centrados */
    line-height: 1.5; 
}